services:
  nginx:
    depends_on:
      - app
    image: nginx:1.25-alpine
    # 외부의 80포트를 열고, nginx 내부의 80포트와 연결
    ports:
      - "80:80"
    configs:
      - source: nginx_conf
        target: /etc/nginx/nginx.conf
    deploy:
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.1"     # Nginx는 매우 가벼움
          memory: 64M     # 정적 파일 서빙/프록시만 한다면 64M 충분
        reservations:
          memory: 32M
    networks:
      - fitu-prod-web

  app:
    # 오버레이 네트워크 안에서 8080 포트 사용
    expose:
      - "8080"
    image: jihyun923/fitu:latest
    secrets:
      - app-secret.yml
    environment:
      SPRING_CONFIG_LOCATION: /run/secrets/app-secret.yml
      # Xmx(최대 힙)를 400m로 제한하여 컨테이너가 죽는 것을 방지
#      JAVA_OPTS: "-Xms256m -Xmx400m -XX:+UseSerialGC"
      JAVA_OPTS: "-Xms128m -Xmx200m -XX:+UseSerialGC"
      # 리눅스 시스템 시간 설정
      TZ: Asia/Seoul
      # JVM(Java) 시간 설정 (Spring Boot가 이를 감지함)
      JAVA_TOOL_OPTIONS: "-Duser.timezone=Asia/Seoul"
    deploy:
      replicas: 2             # 백엔드 인스턴스 수
      update_config:
        parallelism: 1          # 롤링업데이트 시 한 번에 1개씩만 교체
        delay: 5s               # 레플리카가 교체된 후 다음 레플리카가 교체를 시작하기 전까지 기다리는 시간
        failure_action: rollback
#        order: stop-first
        order: start-first      # 새 컨테이너 먼저 띄우고, 그 다음 기존 것 내림
        monitor: 30s            # Healthy라고 판단한 직후에 바로 기존 것을 죽이지 않고, 30초 동안 더 지켜
      restart_policy:
        condition: on-failure
      resources:
        limits:
#          cpus: "1.0"
          cpus: "0.6"
#          memory: 650M          # JVM Heap(400) + Metaspace/Stack 여유분
          memory: 512M
        reservations:
          cpus: "0.05"
          memory: 256M

    # health check
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 90s
    networks:
      - fitu-prod-web
      - monitoring-bridge

  redis:
    image: redis:7-alpine
    volumes:
      - redis-data:/data
    configs:
      - source: redis_conf
        target: /usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf",
               "--maxmemory", "128mb",
               "--maxmemory-policy", "allkeys-lru" ]
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.2"
          memory: 150M
        reservations:
          memory: 50M
    networks:
      - fitu-prod-web

networks:
  fitu-prod-web:
    driver: overlay
  monitoring-bridge:
    external: true

configs:
  nginx_conf:
    name: nginx_conf-${NGINX_CONF_HASH:-default}
    file: ./nginx.conf
  redis_conf:
    name: redis_conf-${REDIS_CONF_HASH:-default}
    file: ./redis.conf

secrets:
  redis_acl:
    external: true

  app-secret.yml:
    external: true

volumes:
  redis-data:
