spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  application:
    name: fitu

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD}
      timeout: 2s

  kakao:
    auth:
      client: ${KAKAO_REDIRECT_API_KEY}  # Rest API ?
      redirect: ${KAKAO_REDIRECT_URI}
      client_secret: ${KAKAO_CLIENT_SECRET}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_USERNAME}
    password: ${GOOGLE_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${JWT_SECRET}
  token:
    access-expiration-time: 3600000
    refresh-expiration-time: 86400000
  signing:
    key: ${JWT_SIGNING_KEY}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket-name: ${S3_BUCKET_NAME}
    region:
      static: ${AWS_REGION}
    stack:
      auto: false

# 웹으로 노출할 액추에이터 명시
management:
  endpoints:
    web:
      exposure:
        include: health

server:
  servlet:
    session:
      cookie:
        http-only: true
        secure: false
        same-site: lax

